include/*
settings.txt

# Compilation et binaire
build/
bin/
*.o
*.out
*.exe
*.cache/*
# VS Code et OS
.vscode/
.DS_Store

# Documentation générée (Doxygen)
latex/

# Fichiers temporaires CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# MacOS
.DS_Store/

# test
test/test_life
test/test_physics
test/*.dSYM



