settings.txt

# Compilation et binaire
build/
bin/
*.o
*.out
*.exe
*.cache/*
# VS Code et OS
.vscode/
.DS_Store

# Documentation générée (Doxygwen)
latex/

# Fichiers temporaires CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# MacOS
.DS_Store/

# test
test/test_life
test/test_physics
test/*.dSYM

# Raylib compilation artifacts
include/src/*.o
include/src/*.d
include/src/*.exe
# include/src/libraylib.a
include/src/raylib.dll

# Koishi build artifacts
include/koishi/build/
lib/libkoishi.a